@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  line-height: 22px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  outline: none;
}

.top-bar {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 32px;
}

.top-bar .user-bar {
  width: 349px;
  float: right;
  margin-right: 10px;
}

.top-bar .user-bar .user-list li {
  font-size: 13px;
  float: left;
  line-height: 25px;
  padding: 4px 11px 7px;
}

.top-bar .user-bar .user-list li a {
  text-decoration: underline;
}

.top-bar .user-bar .user-list li i {
  color: #666;
  position: relative;
  top: -3px;
}

.top-bar .user-bar .user-list li span {
  display: inline-block;
  width: 16px;
  height: 20px;
  background: url(./../img/user-icon.png) no-repeat 0 0;
  vertical-align: bottom;
  margin-right: 4px;
}

.top-bar .user-bar .user-list li:first-child {
  width: 1px;
  height: 13px;
  background-color: #ebebeb;
  margin: 13px 13px 0 0;
  padding: 0;
}

.top-bar .user-bar .user-list .hid {
  position: relative;
}

.top-bar .user-bar .user-list .hid ul {
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 35px;
  left: -8px;
}

.top-bar .user-bar .user-list .hid ul li:nth-child(1) span {
  background: url(./../img/钱包.png) no-repeat;
}

.top-bar .user-bar .user-list .hid ul li:nth-child(2) span {
  background: url(./../img/商城.png) no-repeat;
}

.top-bar .user-bar .user-list .hid ul li:nth-child(3) span {
  background: url(./../img/官网.png) no-repeat;
}

.top-bar .user-bar .user-list .hid ul li:nth-child(3) a {
  color: #f74d4a !important;
}

.top-bar .user-bar .user-list .hid ul li {
  font-size: 12px;
  width: 72px;
  height: 25px;
  padding: 2px 10px;
  margin: 0;
  background-color: transparent;
}

.top-bar .user-bar .user-list .hid ul li:hover {
  background-color: #ceebf8;
}

.top-bar .user-bar .user-list .hid:hover ul {
  display: block;
}

.top-bar .nav-bar {
  width: 432px;
  float: right;
  margin-right: 10px;
}

.top-bar .nav-bar .nav-list li {
  float: left;
  margin-right: 22px;
  line-height: 34px;
}

.top-bar .nav-bar .nav-list li a {
  color: #333;
  text-decoration: underline;
  font-weight: 900;
  font-size: 13px;
}

.top-bar .nav-bar .nav-list li:nth-child(7) {
  font-size: 13px;
  color: #666;
  margin-top: 1.5px;
}

.search-bar {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 34px;
}

.search-bar a {
  width: 135px;
  height: 45px;
  background: url(./../img/01-logo.png) no-repeat 0 0;
  background-size: cover;
  float: left;
}

.search-bar div {
  position: relative;
  top: 8px;
  float: left;
}

.search-bar div input {
  width: 517px;
  height: 32px;
  padding: 4px 10px 4px 7px;
  font-size: 16px;
  color: #53545e;
  float: left;
  margin-left: 30px;
  border: 1px solid #b8b8b8;
  border-right: 0;
}

.search-bar div span {
  width: 104px;
  height: 40px;
  float: left;
  border: 1px solid #38F;
  background-color: #3385ff;
  color: #fff;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-left: none;
}

.search-bar div span:nth-child(3) {
  background-color: transparent;
  color: #38F;
  margin-left: 5px;
  border-left: 1px solid #38F;
}

.banner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.banner img {
  float: left;
}

.banner .num {
  width: 308px;
  height: 180px;
  float: left;
  background: url(./../img/03-banner1.png) no-repeat 0 0;
  position: relative;
}

.banner .num .text {
  width: 200px;
  height: 29px;
  position: absolute;
  top: 75px;
  left: 66px;
}

.banner .num .text span {
  width: 16px;
  height: 23px;
  display: inline-block;
  background: #fff;
  color: #38F;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-right: 4px;
}

.banner .num a {
  width: 209px;
  height: 39px;
  display: inline-block;
  background: url(./../img/03-banner1.png) no-repeat 0px -370px;
  position: absolute;
  top: 120px;
  left: 50px;
}

.banner .point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}

.banner .point span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  color: #b8b8b8;
  font-size: 20px;
  margin-right: 12px;
}

.banner .point span:not(:first-child, :last-child) {
  border: 1px solid #666;
  background: #ebebeb;
}

.banner .point span:not(:first-child, :last-child):hover {
  background-color: #3385ff;
}

.banner .point span:nth-child(2) {
  background: #3385ff;
}

.banner .point span:first-child,
.banner .point span:last-child {
  position: relative;
  top: 1px;
}

.main {
  width: 1000px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 30px;
}

.main .left {
  width: 210px;
  float: left;
  background: #f6f7fb;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}

.main .left .hot {
  padding: 0 10px;
}

.main .left .hot h4 {
  color: #444;
  font-size: 12px;
}

.main .left .hot a {
  font-size: 12px;
  color: #999;
  padding: 10px 0px;
}

.main .left .line {
  margin-top: 14px;
  padding: 4px 10px 0px;
}

.main .left .line h4 {
  color: #444;
  font-size: 12px;
  float: left;
}

.main .left .line span {
  float: left;
  width: 125px;
  height: 1px;
  background: #d7d7d7;
  margin-top: 9px;
  margin-left: 10px;
}

.main .left .type .one {
  padding: 9px 10px 5px 9px;
  border-bottom: 1px solid #d7d7d7;
}

.main .left .type .one .title span {
  width: 25px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: url(./../img/css1_44fc180.png) no-repeat;
}

.main .left .type .one .title .one-icon {
  background-position: -341px -118px;
}

.main .left .type .one .title .two-icon {
  background-position: -205px -119px;
}

.main .left .type .one .title .three-icon {
  background-position: -463px -118px;
}

.main .left .type .one .title .four-icon {
  background-position: -495px -120px;
}

.main .left .type .one .title .five-icon {
  background-position: -293px -117px;
}

.main .left .type .one .title .six-icon {
  background-position: -13px -119px;
}

.main .left .type .one .title .seven-icon {
  background-position: -156px -119px;
}

.main .left .type .one .title .eight-icon {
  background-position: -521px -117px;
}

.main .left .type .one .title .nine-icon {
  background-position: -126px -116px;
}

.main .left .type .one .title .ten-icon {
  background-position: -44px -119px;
}

.main .left .type .one .title .eleven-icon {
  background-position: -267px -119px;
}

.main .left .type .one .title .twelve-icon {
  background-position: -179px -119px;
}

.main .left .type .one .title .thirteen-icon {
  background-position: -364px -119px;
}

.main .left .type .one .title a {
  font-size: 14px;
  color: #999;
  padding: 4px 2px;
}

.main .left .type .one .title a:hover {
  color: #f54646;
}

.main .left .type .one .sort a {
  display: inline-block;
  color: #999;
  font-size: 12px;
  padding: 4px 2px;
}

.main .left .type .one .sort a:hover {
  color: #f54646;
}

.main .left .type .one:last-child {
  border: none;
}

.main .right {
  float: left;
  width: 778px;
  margin-left: 10px;
  box-sizing: border-box;
}

.main .right .right-top {
  padding-left: 5px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.main .right .right-top .rec p {
  padding-left: 10px;
  line-height: 38px;
  color: #444;
}

.main .right .right-top .rec .rec-one {
  float: left;
  width: 383px;
}

.main .right .right-top .rec .rec-one a {
  float: left;
}

.main .right .right-top .rec .rec-one a img {
  width: 95px;
  height: 95px;
}

.main .right .right-top .rec .rec-one .info {
  float: left;
  margin-left: 10px;
}

.main .right .right-top .rec .rec-one .info .name {
  color: #005196;
  font-size: 16px;
  padding-left: 44px;
  line-height: 20px;
  background: url(./../img/icon.png) no-repeat -140px 0;
}

.main .right .right-top .rec .rec-one .info .reason {
  color: #666;
  line-height: 20px;
  margin-top: 10px;
  height: 40px;
  font-size: 12px;
}

.main .right .right-top .rec .rec-one .info .num span {
  color: #999;
  padding-left: 20px;
  font-size: 14px;
  background: url(./../img/icon.png) no-repeat;
}

.main .right .right-top .rec .rec-one .info .num span:first-child {
  background-position: 0px 1px;
  margin-right: 10px;
}

.main .right .right-top .rec .rec-one .info .num span:last-child {
  background-position: 0px -33px;
}

.main .right .right-top .football {
  position: relative;
  margin-top: 10px;
}

.main .right .right-top .football p {
  padding-left: 10px;
  line-height: 38px;
  color: #444;
}

.main .right .right-top .football .list {
  width: 720px;
  float: left;
  margin-left: 29px;
}

.main .right .right-top .football .list li {
  width: 160px;
  border-radius: 6px;
  margin-left: 10px;
  border: 1px solid #d7d7d7;
  float: left;
}

.main .right .right-top .football .list li a {
  float: left;
  padding-left: 5px;
  padding-top: 5px;
}

.main .right .right-top .football .list li a img {
  width: 65px;
  height: 65px;
}

.main .right .right-top .football .list li .info {
  float: left;
  margin-left: 10px;
}

.main .right .right-top .football .list li .info p {
  font-size: 14px;
  line-height: 20px;
  padding-left: 0px;
}

.main .right .right-top .football .list li .info p:nth-child(2) {
  padding-left: 20px;
  background: url(./../img/icon.png) no-repeat 0 0px;
}

.main .right .right-top .football .list li .info p:nth-child(3) {
  padding-left: 20px;
  background: url(./../img/icon.png) no-repeat -163px -57px;
}

.main .right .right-top .football .left-arrow,
.main .right .right-top .football .right-arrow {
  width: 29px;
  height: 74px;
  display: inline-block;
  background: url(./../img/icon.png) no-repeat;
  position: absolute;
}

.main .right .right-top .football .left-arrow {
  background-position: -15px -85px;
  left: -6px;
}

.main .right .right-top .football .right-arrow {
  background-position: -46px -85px;
  right: 0px;
}

.main .right .right-bottom {
  margin-top: 20px;
}

.main .right .right-bottom .bottom-left {
  width: 550px;
  float: left;
}

.main .right .right-bottom .bottom-left .recer {
  border: 1px solid #d7d7d7;
  padding: 10px 6px;
  width: 550px;
  float: left;
  box-sizing: border-box;
}

.main .right .right-bottom .bottom-left .recer .slide {
  float: left;
  margin-right: 12px;
}

.main .right .right-bottom .bottom-left .recer .slide a.title {
  display: inline-block;
  color: #444;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.main .right .right-bottom .bottom-left .recer .slide .img {
  float: left;
}

.main .right .right-bottom .bottom-left .recer .slide .img img {
  width: 180px;
  height: 140px;
}

.main .right .right-bottom .bottom-left .recer .slide ul {
  float: left;
  margin-left: 7px;
}

.main .right .right-bottom .bottom-left .recer .slide ul li {
  margin-bottom: 6px;
}

.main .right .right-bottom .bottom-left .recer .slide ul li a {
  font-size: 12px;
  color: #666;
  display: inline-block;
  width: 71px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8;
}

.main .right .right-bottom .bottom-left .recer .slide:last-child {
  margin-right: 0px;
}

.main .right .right-bottom .bottom-left .hot-dynamic {
  width: 550px;
  margin-top: 20px;
  float: left;
  padding: 10px 6px 0 6px;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  background-color: #f8f8f8;
}

.main .right .right-bottom .bottom-left .hot-dynamic a {
  margin-left: 20px;
  display: inline-block;
  padding-bottom: 5px;
  color: #0086c6;
  font-size: 14px;
  border-bottom: 2px solid #3385ff;
}

.main .right .right-bottom .bottom-left .car-info {
  width: 550px;
  box-sizing: border-box;
  float: left;
  margin-top: 20px;
  padding-left: 10px;
}

.main .right .right-bottom .bottom-left .car-info h4 {
  padding-left: 42px;
  background: url(./../img/icon.png) no-repeat -140px 0;
  vertical-align: middle;
  margin-bottom: 5px;
}

.main .right .right-bottom .bottom-left .car-info p {
  color: #005097;
  font-size: 16px;
}

.main .right .right-bottom .bottom-left .car-info p span {
  border: 1px solid #e4e1e2;
  color: #f54646;
  padding: 3px 5px;
  font-size: 12px;
  margin-left: 5px;
}

.main .right .right-bottom .bottom-left .car-info div {
  line-height: 24px;
  color: #666;
  font-size: 14px;
  padding: 4px 0 0;
}

.main .right .right-bottom .bottom-left .car-info ul {
  margin: 10px 0px 6px;
}

.main .right .right-bottom .bottom-left .car-info ul li {
  float: left;
  margin-right: 11px;
}

.main .right .right-bottom .bottom-left .car-info .reply a,
.main .right .right-bottom .bottom-left .car-info .reply span {
  color: #999;
  padding-left: 20px;
  font-size: 12px;
  margin-right: 6px;
  vertical-align: middle;
}

.main .right .right-bottom .bottom-left .car-info .reply a {
  background: url(./../img/css1_44fc180.png) no-repeat -198px -66px;
}

.main .right .right-bottom .bottom-left .car-info .reply span {
  background: url(./../img/icon2.png) no-repeat -10px -7px;
}

.main .right .right-bottom .bottom-right {
  width: 218px;
  float: left;
  margin-left: 10px;
}

.main .right .right-bottom .bottom-right .app p {
  padding: 5px 0px 5px 10px;
  font-size: 16px;
  color: #444;
  border: 1px solid #d7d7d7;
  background: #fbfbfb;
}

.main .right .right-bottom .bottom-right .app .download {
  margin-top: 10px;
}

.main .right .right-bottom .bottom-right .app .download div {
  float: left;
  font-size: 12px;
  line-height: 24px;
  color: #666;
  padding-left: 5px;
}

.main .right .right-bottom .bottom-right .app .download img {
  float: right;
}

.main .right .right-bottom .bottom-right .topic {
  border: 1px solid #E7E7E7;
  border-right: 1px solid #EEE;
  position: relative;
  line-height: 34px;
  background-color: #FBFBFB;
  margin-top: 10px;
}

.main .right .right-bottom .bottom-right .topic div span {
  margin-left: 10px;
  color: #444;
  font-size: 16px;
}

.main .right .right-bottom .bottom-right .topic div a {
  bottom: 10px;
  line-height: 1;
  position: absolute;
  right: 10px;
  color: #2d64b3;
  font-size: 12px;
}

.main .right .right-bottom .bottom-right .topic div a:hover {
  color: #f54646;
}

.main .right .right-bottom .bottom-right .topic ul {
  padding: 10px 3px;
}

.main .right .right-bottom .bottom-right .topic ul li {
  padding: 5px 0;
  color: #666;
  cursor: pointer;
  font-size: 12px;
}

.main .right .right-bottom .bottom-right .topic ul li:nth-child(1) span:first-child, .main .right .right-bottom .bottom-right .topic ul li:nth-child(2) span:first-child, .main .right .right-bottom .bottom-right .topic ul li:nth-child(3) span:first-child {
  background: #FF7F42;
  color: #fff;
}

.main .right .right-bottom .bottom-right .topic ul li span:first-child {
  padding: 1px 4px;
  margin-right: 7px;
}

.main .right .right-bottom .bottom-right .topic ul li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  color: #666;
}

.main .right .right-bottom .bottom-right .topic ul li a:hover {
  color: #f54646;
}

.main .right .right-bottom .bottom-right .topic ul li span:last-child {
  color: #999;
  float: right;
}

.main .right .right-bottom .bottom-right .media p {
  border: 1px solid #E7E7E7;
  border-right: 1px solid #EEE;
  line-height: 34px;
  background-color: #FBFBFB;
  margin-top: 10px;
  padding-left: 10px;
}

.main .right .right-bottom .bottom-right .media a {
  display: inline-block;
  margin: 15px auto;
}

.main .right .right-bottom .bottom-right .media ul li {
  margin-bottom: 8px;
}

.main .right .right-bottom .bottom-right .media ul li a {
  font-size: 12px;
  margin: 0px;
  padding-left: 13px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 208px;
}

.main .right .right-bottom .bottom-right .media ul li a:hover {
  color: #f54646;
}

.main .right .right-bottom .bottom-right .media ul li span {
  width: 3px;
  height: 3px;
  display: inline-block;
  background: url(./../img/point.jpg) no-repeat 0 0;
  position: relative;
  top: -10px;
}
